/* L'initialisation minimum */
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,300&display=swap");
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/* Police de l'appli mobile */
/* Police des titres */
@font-face {
  font-family: "Shrikhand";
  src: url(/CSS/Font_titre/Shrikhand-Regular.otf);
}
/* Variables */
body {
  font-family: "Roboto";
}

/* Classe */
.padLeft {
  padding-left: 15px;
}

.iconColor {
  color: #9356DC;
}

.iconColorG {
  color: gray;
}

.badge {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 40px;
  background: #9356DC;
  transform: translate(-10px, 0);
}

.badge {
  position: relative;
  top: -1px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.h1, h1 {
  font-size: calc(1.375rem + 1.5vw);
}

.clsTailleIconF {
  font-size: medium;
  margin-right: 10px;
}

header {
  padding: 10px;
}

.padMenu {
  padding: 10px;
}

/* Media Queries */
/* Styles pour mobile */
@media only screen and (max-width: 480px) {
  /* Layout Header */
  header {
    display: flex;
  }
  header a {
    text-decoration: none;
    display: inline-block;
  }
  header .clsContHead {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
  }
  header .clsContHead .logo {
    width: 150px;
  }

  /* Layout Contenu */
  .clsLove {
    text-decoration: none;
    color: #5c5959;
  }
  .clsLove:hover {
    color: #FF79DA;
  }

  .clsTitle {
    font-family: "Shrikhand";
    font-size: 24px;
  }

  .clsContenu {
    background-color: #F2F2F2;
    /* Bouton commander */
    /* Pied de page */
  }
  .clsContenu .contentTitle {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: #F2F2F2;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    transform: translate(0, -50px);
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  .clsContenu .menuEntrees {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin-top: 20px;
    transform: translate(0, -50px);
  }
  .clsContenu .menuEntrees .menu_Title {
    font-size: 20px;
    padding-left: 5px;
  }
  .clsContenu .menuEntrees .menu_Title h2 {
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
  }
  .clsContenu .menuEntrees .menu_Title h2:after {
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: -5px;
    left: 0%;
    border-bottom: 5px solid #99E2D0;
  }
  .clsContenu .menuEntrees .contentBtn {
    display: flex;
    flex-flow: column wrap;
  }
  .clsContenu .menuEntrees .contentBtn .button {
    display: inline-flex;
    justify-content: space-between;
    height: 90px;
    padding: 0;
    margin-top: 20px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(255, 254, 254, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    outline: none;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    font-size: 18px;
  }
  .clsContenu .menuEntrees .contentBtn .button .button__text {
    width: 100%;
    padding: 20px;
  }
  .clsContenu .menuEntrees .contentBtn .button .button__text .button__text_0 {
    text-align: left;
  }
  .clsContenu .menuEntrees .contentBtn .button .button__text .button__text_1 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  .clsContenu .menuEntrees .contentBtn .button .button__icon {
    display: none;
    text-decoration: none;
  }
  .clsContenu .menuEntrees .contentBtn .button:hover .button__icon {
    background: #99E2D0;
    color: white;
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    height: 100%;
    font-size: 30px;
  }
  .clsContenu .btnCmd {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .clsContenu .btnCmd a {
    display: block;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to top left, #9356DC, #FF79DA);
    width: 250px;
    padding: 20px;
    border-radius: 40px;
    margin-bottom: 50px;
  }
  .clsContenu footer {
    background-color: black;
    color: white;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    padding: 30px;
  }
  .clsContenu footer div {
    margin-bottom: 10px;
  }
  .clsContenu footer .footTitle {
    margin-bottom: 20px;
    font-size: larger;
    font-family: "Shrikhand";
  }

  /* Fin Contenu */
}
/* Styles pour tablette */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* Layout Header */
}
/* Styles pour PC */
@media only screen and (min-width: 769px) {
  /* Layout Header */
}

/*# sourceMappingURL=menu.css.map */
