
@import "./P3/0_Variable", "./P3/1_reset", "./P3/2_typo";
@import "./P3/3_headerHome";

/* Main */
main{
    .main_city{
        display: flex; flex-flow: row nowrap; 
        justify-content: center; align-items: center; gap: 1rem;
        background-color: $bgGray;
        padding: 00.5rem;
        h2{ font-weight: bold; }
        i{ font-size: 1.5rem;}

    }
    .main_explorer{
        text-align: center;
        h2{ 
            font-weight: bold; margin-top: 1.5rem;
            font-size: 2rem;
        }
        p{ font-size: 1.5rem; }
        button{
            background-image: $colorGrad; color: white;
            font-size: 1.5rem; font-weight: 300;
            border: none; padding: 1rem 2rem;
            border-radius: 2rem; box-shadow: 2px 1px 16px -3px #000000;
            margin-top: 1rem;
            translate: transform 200ms;
            &:hover{
                transform: scale(1.05); opacity: 0.9;
            }
        }
    }
} /* Fin Main */