/* L'initialisation minimum */
@import "Libs/minireset.scss";
/* Police de l'appli mobile */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,300&display=swap');
/* Police des titres */
@font-face {
    font-family: 'Shrikhand';
    src: url(/CSS/Font_titre/Shrikhand-Regular.otf);
  }

/* Variables */
$shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$bgGray: #F2F2F2;
$colorR: #FF79DA;
$colorB: #9356DC;
$colorV: #99E2D0;
$colorG: gray;
$colorRoseD: linear-gradient(to top left, $colorB, $colorR);
body{font-family: 'Roboto'}
/* Classe */
.padLeft{ padding-left: 15px;}
.iconColor{color: $colorB;}
.iconColorG{color: $colorG;}
.badge{
    display:inline-block;padding:.35em .65em;font-size:.75em;
    font-weight:700;line-height:1;color:#fff;
    text-align:center; white-space:nowrap;
    vertical-align:baseline;border-radius:40px;
    background: $colorB; 
    transform: translate(-10px, 0);
}
.badge{position:relative;top:-1px}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{margin-top:0;margin-bottom:.5rem;font-weight:500;line-height:1.2}
.h1,h1{font-size:calc(1.375rem + 1.5vw)}
.clsTailleIconF{ font-size: medium; margin-right: 10px;}

header{ padding: 10px; }

/* Contenu Restaurants */

a.clsLove2{ display: none; text-decoration: none; color: black;}
.clsLove1{ text-decoration: none; color: black;}

/*.polaroid a{
    display: block; text-decoration: none; color: black;
}
*/

/* Media Queries : Styles pour mobile */
@media only screen and (max-width:480px){
    
    /* Layout Header */
    header{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        .logo{
            width: 150px;
        }
    }
    /* Layout Navigation */
    nav{
        background-color: $bgGray;
        .navHead{
            background-image:linear-gradient(to bottom,#bdbaba, #ebe7e7);
            display: flex; flex-flow: row wrap; 
            justify-content: center;
            padding: 10px;
            div{
                margin-left: 15px;
            }
        }
        .navBody{
            display: flex; flex-flow: column wrap;
            justify-content: center; align-items: center;
            padding: 20px;padding-bottom: 30px; padding-top: 30px;
            text-align: center;
            div{
                margin-bottom: 20px;
                h1{ font-weight: bold;}
            }
            .ClsDecouv{font-size:large;}
            a{
                display: block; text-decoration: none; color: white;
                background-image: $colorRoseD;
                padding: 20px; border-radius: 40px;
                margin-top: 10px; margin-bottom: 10px;
            }
        }
    }

    /* Contenu */
    .clsContent{
        display: flex; flex-flow: column wrap; 
        justify-content: center; 
        margin-top: 30px; margin-bottom: 30px;
        .contentTitle{
            padding-left: 20px;
        }
        .contentBtn{
            display: flex; flex-flow: column wrap; 
            justify-content: center;  align-items: center;
            a{
                display: inline-flex; text-decoration: none; color: black;
                height: 70px; width: 85%; outline: none;
                border-radius: 20px; overflow: visible;
                font-size: 16px; font-weight: 500; 
                align-items: center; margin-top: 25px;
                box-shadow: $shadow; padding-right: 50px;
                background-color: $bgGray;                
            }
            .bgRose{background-image: linear-gradient(to top left, rgb(183, 183, 207), rgb(245, 233, 240));}
            
        }
    }

    .clsResto{
        background-color: $bgGray;
        section{
            padding: 30px 15px 30px 10px;
            h1{margin-bottom: 20px;}
            .clsGallery{
                display: flex; flex-flow: column wrap;
                justify-content: center; align-items: center;
                .polaroid {
                    width: 95%;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    border-radius: 10px; margin-bottom: 20px;

                    .container {
                        display: flex; flex-flow: row nowrap;
                        justify-content: space-between;
                        padding: 10px;
                        
                        .clsBtnHover{
                            &:hover .clsLove1{
                                display: none;
                            }
                            &:hover .clsLove2{
                                display: inline-block;
                                color: $colorR;
                            }
                        }
                        /*.clsLove1{
                            text-decoration: none;
                            &:hover{ color: $colorR; }
                        }*/
                        .clsNew{
                            background-color: $colorV; color: green;
                            width: 90px; margin: 0; padding: 10px;
                            text-align: center;
                            transform: translate(40px, -200px);
                        }
                    }
                    
                    .clsImg{
                        width:100%;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                    }
                    .clsImgS{
                        width:100%; height: 200px;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                    }
                  }
            }

        }

        /* Pied de page */
        footer{
            background-color: black; color: white;
            display: flex; flex-flow: column wrap;
            align-items: flex-start; padding: 30px;
            div{ margin-bottom: 10px;}
            .footTitle{
                margin-bottom: 20px; font-size:larger;
                font-family: 'Shrikhand';
            }

        }

    }

    

}

/* Styles pour tablette */
@media only screen and (min-width:481px) and (max-width:768px){
    /* Layout Header */
    

}

/* Styles pour PC */
@media only screen and (min-width:769px){
    /* Layout Header */
    

}