/* L'initialisation minimum 
@import "Libs/minireset.scss";
*/
/* Variables */
$vrBgH: linear-gradient(to right, white, rgb(40, 40, 168));

.clsGlobal1{
    display: flex; justify-content: space-between; border: 2px solid black;
    padding: 10px;
}
.clsTranslate{ 
    width: 300px; height: 100px; background-color: yellow;
    border: 1px solid black;
    transform: translate(50px, 10px);
    /*&:hover{
        transform: translate(50px, 0)
    };*/
}
.clsRotate{ transform: rotate(10deg); }
.clsNormal{
    width: 300px; height: 100px;
    background-color: yellow;
    border: 1px solid black;
}

/* Media Queries */
/* Styles pour mobile */
@media only screen and (max-width:480px){
    /* Layout Header */
    a.clsMenu{display: none;}
    div.clsEment{display: none;}

}