.fonctionnement{
    counter-reset: steps;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    ol{
        display: flex; gap: 2rem;
        padding-right: 1rem;
        @media (max-width: 1000px){ flex-direction: column; }
        li{
            position: relative;
            &::before{
                content: counter(steps);
                counter-increment: steps;

                color: white;
                background-color: $color-primary;
                display: grid;
                width: 2rem; height: 2rem;
                place-items: center;
                border-radius: 50%; position: absolute;
                bottom: 1rem;
                left: -1rem;
            }
            background-color: #f6f6f6;
            padding: 1.5rem 2.5rem;
            flex-grow: 1;
            border-radius: 2.4rem;
            font-weight: bold;
            @include ombre-fonct;

            transition: transform 2s, box-shadow 2s, background-image 2s, color 2s;
            &:hover{
                @include zoom-fonct;
                opacity: 0.9;
                background-image: linear-gradient(to bottom left, #c5a4ec, rgb(250, 250, 245));
                
                i.fas{
                    color: $color-primary;
                }
            }
        }
        i.fas{
            margin-right: 1rem;
            color: #949393;
            font-size: 1.4rem;            
        }
    }
    h2{ padding-left: 2rem;}
}